html{
background-color: white;
}

body{
    background-color: white;
}
#title{
    font-family: 'Fjalla One', sans-serif;
}

#bannerLogo{
    margin-top:10px;
    margin-left:550px;
    margin-bottom:10px;
}

.form-group.required .control-label:after { 
   content:"*";
   color:red;
}