.title{
  font-family: 'Fjalla One', sans-serif;
  font-size: 60px;
  text-align: center;
}

#bannerLogo{
    margin-top:10px;
    margin-left:550px;
    margin-bottom:10px;
}

nav.navsection{

    height:50px;
   width:930px;
   background-color: white;
   margin-left:250px;
    
}

ul.navbar{
    color:black;
    text-decoration: none;
    text-align:center;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
    
}

li{
    display:inline;
    padding:12px;
}

.slide{
    display:inline-block;
    position:relative;
    padding-bottom: 30px;
}

.slide:after{
    content:'';
    display: block;
    margin: auto;
    height: 3px;
    width:0px;
    background: transparent;
    transition:width .5s ease, background-color .5s ease;

}

.slide:hover:after{
    width:100%;
    background:orange;
}
div.antrim{

    float:left;
    margin-top:20px;
    margin-left:300px;
}

div.armagh{

    float:right;
    margin-right:300px;
}

div.derry{
    float:right;
    margin-top:20px;
}

div.down{
    float:left;
    margin-top:20px;
    margin-right:500px;
}

div.fermanagh{
    float:left;
    margin-top:20px;
    margin-left:300px;
}

div.tyrone{
    float:right;
    margin-top:20px;
    margin-right:300px;
}

div.footer{

    margin-top: 900px;
    height:100px;
    width:1495px;
    background-color: black;
}
